{% extends 'base.html' %}

{% block title %}Configurar Umbrales de Gasolina{% endblock %}
{% set show_navigation = true %}

{% block content %}
<div class="container">
    <h2 class="mt-4 mb-4">Configurar Umbrales de Gasolina</h2>

    <div class="alert alert-info mt-3" role="alert">
        Asegúrese de que las cantidades estén dentro de los rangos permitidos para cada tipo de gasolina.
    </div>

    <form method="POST" action="{{ url_for('configurar_umbrales') }}">
        <div class="form-group">
            <label for="tipo">Tipo de Gasolina</label>
            <select class="form-control" id="tipo" name="tipo" required>
                <option value="Gasolina Super">Gasolina Super</option>
                <option value="Gasolina Regular">Gasolina Regular</option>
                <option value="Diesel">Diesel</option>
            </select>
        </div>
        <div class="form-group">
            <label for="minimo_litros">Cantidad Mínima (Litros)</label>
            <input type="number" class="form-control" id="minimo_litros" name="minimo_litros" placeholder="Ingrese mínimo entre 1000 y 5000" required>
        </div>
        <div class="form-group">
            <label for="maximo_litros">Cantidad Máxima (Litros)</label>
            <input type="number" class="form-control" id="maximo_litros" name="maximo_litros" placeholder="Ingrese máximo entre 8000 y 10000" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <hr>

    <a href="{{ url_for('gestion_gasolina') }}" class="btn btn-secondary mt-3">Regresar</a>
</div>
{% endblock %}
