{% extends 'base.html' %}

{% block title %}Gestión de Servicios{% endblock %}
{% set show_navigation = true %}
{% block content %}
    <div class="container">
        <h2>Gestión de Servicios</h2>
        <div class="btn-group-vertical" role="group">
            <a href="{{ url_for('registrar_servicio') }}" class="btn btn-green">Registrar Nuevo Servicio</a>
            <a href="{{ url_for('consultar_servicios') }}" class="btn btn-orange">Ver Servicios Registrados</a>
            
        </div>
    </div>
{% endblock %}
