{% extends 'base.html' %}

{% block title %}Registrar Promoción{% endblock %}

{% block content %}
    <div class="container">
        <h2>Registrar Promoción</h2>
        <form method="POST">
            <div class="form-group">
                <label for="nombre">Nombre de la Promoción</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="detalles">Detalles</label>
                <textarea class="form-control" id="detalles" name="detalles" required></textarea>
            </div>
            <div class="form-group">
                <label for="fecha_inicio">Fecha de Inicio</label>
                <input type="datetime-local" class="form-control" id="fecha_inicio" name="fecha_inicio" required>
            </div>
            <div class="form-group">
                <label for="fecha_fin">Fecha de Fin</label>
                <input type="datetime-local" class="form-control" id="fecha_fin" name="fecha_fin" required>
            </div>
            <div class="form-group">
                <label for="descuento">Descuento (%)</label>
                <input type="number" class="form-control" id="descuento" name="descuento" required min="0" max="100">
            </div>
            <div class="form-group">
                <label for="producto_id">Seleccionar Producto</label>
                <select class="form-control" id="producto_id" name="producto_id" required>
                    {% for producto in productos %}
                        <option value="{{ producto.producto_id }}">{{ producto.nombre_producto }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Registrar Promoción</button>
        </form>
    </div>
{% endblock %}
